*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

body {
  margin: 0;
  background: #383e4c;
  color: #fff;
}

a {
  color: #40C9A2;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1 {
  text-align: left;
  line-height: 20px;
  padding: 10px;
  margin: 10px;
}

h2 {
  border-bottom: 2px solid #383e4c;
  font-weight: 300;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

article {
  padding: 10px;
  margin: 1px;
  background: #262c37;
  flex: 1;
}

article:nth-of-type(2) {
  flex: 4;
}

.rd-team {
  position: relative;
  margin: 4px;
  border-bottom: 1px solid #383e4c;
}

.rd-team-1 {
  border-color: #7e5ae2;
}

.rd-team-2 {
  border-color: #e25abc;

}
.rd-team-3 {
  border-color: #e25a77 ;
}

.rd-team-4 {
  border-color: #7e9ce2;
}

.rd-team-5 {
  border-color: #F78764;

}
.rd-team-6 {
  border-color: #1784c7;
}

.rd-team-background-1 {
  background-color: #7e5ae2;
}

.rd-team-background-2 {
  background-color: #e25abc;

}
.rd-team-background-3 {
  background-color: #e25a77;
}

.rd-team-background-4 {
  background-color: #7e9ce2;
}

.rd-team-background-5 {
  background-color: #F78764;

}
.rd-team-background-6 {
  background-color: #1784c7;
}

.rd-team-name {
  position: absolute;
  left: 100px;
  font-size: 1.2rem;
}

.rd-team-descr {
  position: absolute;
  left: 100px;
  top: 30px;
  color: #757983;
}

.rd-team-action {
  position: absolute;
  left: 100px;
  top: 55px;

  padding: 0.2em;
  border: #40C9A2 2px solid;
  border-radius: .25em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.rd-team-points {
  position: absolute;
  right: 0px;
  padding: 0.2em 0.4em;
  border-radius: .25em;
  font-size: 1.2rem;
}

.rd-team-avatar {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
}


/*------------- Modal -----------------------------------*/
.img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.rd-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  display: flex;
	flex-wrap: wrap;
	justify-content: center;

  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.rd-modal.rd-nodal--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

/*--------------------Modal Dialog -------------------------------*/
.rd-modal__dialog {
  position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;

  flex: 0 1 330px;
	max-width: 400px;

	margin: 1em;
	color: #84697c;
	background: #fff;
	box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
	border-radius: 20px 20px 10px 10px;

  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.rd-modal__dialog .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.rd-modal__dialog .cd-popup-close::before, .rd-modal__dialog .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #fff;
}
.rd-modal__dialog .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.rd-modal__dialog .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .rd-modal__dialog {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .rd-modal__dialog {
    margin: 8em auto;
  }
}
/*-------------------- Modal Dialog Action -------------------------------*/
.rd-modal__action {
	border: none;
	font-weight: bold;
	margin: auto 3em 2em 3em;
	padding: 1em 2em;
	color: #40C9A2;
	border-radius: 30px;
  border: 2px solid #40C9A2;
	background: transparent;
	transition: background-color 0.3s;
}

.rd-modal__action:focus {
	outline: none;
}

.rd-modal__action:hover,
.rd-modal__action:focus {
  color: #fff;
	background-color: #40C9A2;
}

/*--------------------  Modal Dialog Header -------------------------------*/
.rd-modal__header {
	border-radius: 10px 10px 0 0;
  background-color: #40C9A2;
	padding: 4em 0 9em;
	position: relative;
}

/* ------------------ Input fields ---------------------------------*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	/*font-weight: bold;*/
	font-size: 82%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* ------------------ Input fields, Hoshi ---------------------------------*/
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-2::after {
	border-color: #40C9A2;
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}
